<div class='bg-primary h-14 w-full flex px-2.5 items-center'>
  <div class='flex-1 flex justify-start'>
    <a class='px-2' href=''>Logo</a>
    <a class='px-2' href=''>Home</a>
    <a class='px-2' href=''>Chaperpaty</a>
    <a class='px-2' href=''>Claim</a>
  </div>
  <div class='flex-1 flex justify-end'>
    <a class='px-2' href=''>Help</a>
    <a class='px-2' href=''>Avatar</a>
  </div>
</div>